.icon-menu {
  display: inline-block;
  width: 30px;
}

.icon-menu__bar {
  display: block;
  height: 5px;
  border-radius: 2px;
  background-color: map-get($map: $colors, $key: gray-dark);
  transition: all 0.3s ease-out;

  &:not(:last-of-type) {
    margin-bottom: 5px;
  }

  .icon-menu:hover & {
    background-color: map-get($map: $colors, $key: green);
  }
}
