$base-url: "";
$images-dir: "../images/";

$font-main: 'Open Sans', sans-serif;

$font-sizes: (
  xbig: 20px,
  big: 18px,
  default: 16px,
  small: 14px,
  tiny: 12px
);

$line-heights: (
  mid: 1.3,
  default: 1.5
);
